li{
   font-size: 18px;
}

main{
   margin-bottom: 100px;
}

body{
   background-image: url(../photos/index/white-diamond.png);
   background-attachment: fixed;
}



.cart{
    /* border: 1px solid #000; */
    width: 1200px;
    margin: auto;
}
main>h2:first-child{
    /* border: 1px solid #000; */
    width: 200px;
    
    text-align: center;
    border-bottom: 3px solid #317331;
    margin: auto;
}

.title{
    /* border: 1px solid #000; */
    margin-top: 60px;
    background-color: #317331;
    display: flex;
}

.title>ul{
    /* border: 1px solid #000; */
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
}

.title>ul>li{
   text-align: center;
}



@media(max-width:768px){
   .cart{
      width: 600px;
   }

   .title>ul>li:nth-child(3){
      display: none;
   }
   .item>div:first-child{
      width: 300px;
   }

   .item_total{
      display: none;
   }

   .btn_group{
      padding-left: 0;
   }

}

@media(max-width:440px){
   .cart{
      width: 400px;

   }

   .item>div:first-child{
      width: 150px;
   }

   .title>ul>li:nth-child(2){
      display: none;
   }
}

.item{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.item>div:first-child{
   width: 500px;
   display: flex;
   align-items: center;
}

.item>div>img{
   width: 180px;
   height: 210px;
   margin-right: 30px;
}


.item_area{
    width: 100%;
    display: flex;
    align-items: center;
}

.item_name{
    width: 200px;
}
.item_total{
   width: 250px;
   display: flex;
   justify-content: center;
}

.decrease>img,
   .increase>img{
      width: 40px;
   }

.cancel,
 .cancel img{
   transform: scale(0.8);
   background-color: rgba(0,0,0,0);
 }

.btn_group{
   width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_group>input{
    border: none;
    appearance:none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px ;
    color: #000;
}

 .item_unitprice{
    text-align: right;
    width: 100px;
 }

 .itemarea:last-child::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #317331;
    margin: 30px 0;
 }

 input.cart_unitprice,
 input.cart_totalprice{
   width: 80px;
   border: none;
   font-size: 20px;
   color: #000;
 }

 @media(max-width:768px){
   .item{
      justify-content: space-between;
   }

   .item>div>img{
      width: 200px;
      margin-right: 10px;
   }

   .item_total{
      display: none;
   }

   .item>div:first-child{
      width: 300px;
   }
 }

 @media(max-width:440px){
   .item{
      width: 100%;
      justify-content: center;
      align-items: center;
   }

   .item p{
      text-align: left;
      width: 100px;
   }

   .item>div>img{
      width: 80px;
      height: 95px;
      margin-right: 5px;

   }

   .decrease, .increase{
      width: 40px;
      border-radius: 0px;
   }
   
   .decrease>img, .increase>img {
      width: 30px;

   }

   .btn_group{
      width: 120px;
   }
   .btn_group>input{

      border-radius: 5px;
      font-size: 16px;
      line-height: 25px;
   }

   .cancel, .cancel>img{
      width: 30px;
      margin: 0;
   }

   li{
      font-size: 14px;
   }
   .item_text>p{
      font-size: 12px;
   }

   .item>div:first-child{
      width: 200px;
   }

   input.cart_unitprice,
   input.cart_totalprice{
      font-size: 14px;
   }

 }

 /* 下半 */
 select{
   border-radius: 5px;
 }
 .info{
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: space-between;
 }
 
 .info_left{
    width: 50%;
    padding: 0 20px;
 }

 .info_right{
    width: 50%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
 }

 .info_block{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
 }

 .info_block>p{
    /* background-color: #FFCD84; */
    color: #317331;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    width: 250px;
 }

 .info_block>select{
   width: 250px;
   margin-right: 20px;
   text-align: center;
 }

 .receiver_block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
 }

 .receiver_label{
   color: #317331;
   font-weight: bold;
    text-align: center;
    border-radius: 5px;
    width: 250px;
        
 }
 
 .receiver_block>p:not(.receiver_label){
    margin-left: 120px;  
 }

 .receiver_block>button{
    width: 500px;
    height: 50px;
    align-self: center;
    color: #317331;
    border: 2px solid #317331;
    background-color: rgba(0,0,0,0);
    margin-top: 20px;

 }

 .order_info{
    width: 100%;
    border-radius: 5px;
    margin-top: 30px;
    padding-left: 30px;
    background-color: rgba(202, 219, 193, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 }

 .order_info p{
   line-height: 80px;
 }

 .order_amount{
    width: 100%;
    color: #317331;
    font-weight: bold;
    padding-left: 30px;
    font-weight: bold;
    border-radius: 10px;
 }
 .order_amount>p{
    line-height: 60px;
 }
 .info_right>button{
   background-color: #317331;
    color: #fff;
    height: 50px;
    width: 100%;
    margin-top: 20px;
 }

 @media(max-width:768px){
   .info{
      width: 600px;
      flex-direction: column;
   }

   .info_left,
   .info_right{
      width: 100%;
   }

   .info_left{
      border-bottom: 2px solid #317331;
      padding-bottom: 50px;
   
   }

   .receiver_block>button{
      width: 100%;
      font-size: 20px;
      height: 50px;
      margin-top: 20px;
   }

   .receiver_label{
      margin-bottom: 20px;
   }

   .order_info_title{
      margin-bottom: 20px;
   }

   .order_amount{
      margin: 20px 0;
   }

   .info_right>div,
   .info_right>p,
   .info_right>button{
      width: 100%;
 }
}

@media(max-width:440px){
   .info{
      width: 400px;
   }
   .info_block>p,
   .receiver_label{
      width: 100px;
      margin-right: 40px;
   }

   .receiver_block>button,
   .info_right>button{
      font-size: 18px;
      border-radius: 10px;
      height: 50px;
}
}