
body{
    background-image: url(../photos/index/white-diamond.png);
    background-attachment: fixed;
}

.class{
    width: 100%;
    max-width: 1200px;
    height: 750px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 120px;
}
.class img{
    width: 550px;
    height: 360px;
    border-radius: 20px;
    background-position: center;
    background-size: contain;
}

.title_block{
    /* border: 1px solid #000; */
    width: 547px;
    display: flex;
    justify-content: space-between;
    background-color: #FFCD84;
    border-radius: 20px;
    padding: 0 20px;
}

.title_block h3, .title_block p{
    /* border: 1px solid #000; */
    line-height: 70px;
}

.demonstrate, .class_right>ul{
    /* border: 1px solid #000; */
    padding-left: 20px;
}

ul.target, .class_right ul{
    letter-spacing: 2px;
    line-height: 40px;
    list-style: none;
    
}

ul.target>li, .class_right ul>li{
    text-indent: 2em;    
}


.target li::before, .class_right li::before{
    content: '';
    width: 30px;
    height: 30px;
    background-image: url(../photos/icon/list_style.png);
    background-repeat: no-repeat;
    background-position: center;
    display:inline-block; 
    margin-right:5px; 
    vertical-align:middle; 
    margin-top: -6px;
}



.class_left{
    width: 550px;
}

.class_right{
    width: 550px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;

}


.class_right>ul{
    padding-bottom: 50px;   
}

.class_btn{
    display: flex;
    flex-wrap: wrap;
 }

 .decrease, .increase{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

.decrease>p, .increase>p{   
    font-size: 24px;
    line-height: 60px;
}

 button{
    background-color: #3C8D3C;
    color: #fff;
    border: none;
 }

 .class_btn_top>p:first-child{
    text-align: center;
    line-height: 60px;
 }

.class_btn{
    display: flex;
    align-items: space-between;
    justify-content: space-between;
}
.class_btn_top{
    display: flex;
    justify-content: flex-start;
}

.class_btn_top>p{
    font-size: 24px;
}


 .buy{
    border: 1px solid #3C8D3C;
    background-color: #3C8D3C;
    color: #fff;
    border-radius: 10px;
    padding: 0 40px;
    height: 60px;
    position: relative;
    z-index: 1;
    transition: all .5s linear;
 }

 .buy>p{
    transition: .5s;
    line-height: 60px;
    text-align: center;
    border-radius: 10px;
    font-size: 24px;
 }

 .buy::before{
    content:'';
    width: 0;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transition: .8s;
    z-index: -1;
 }

 .buy:hover::before{
    width: 100%;
 }

 .buy:hover>p{
    color: #3C8D3C;
    transition: .5s;
 }


 .btn_group{
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .btn_group>p{
    margin: 0 10px;
    font-size: 18px;
    padding: 0 30px;
    line-height: 60px;
    background-color: rgba(202, 219, 193, 0.5);
    /* border: 1px solid #000; */
 }

 @media(max-width: 768px){
    .class{
        max-width: 600px;
        height: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    .class_left,
    .class_right{
        width: 100%;
        padding: 20px 0;
    }

    .title_block{
        width: 100%;
        margin-bottom: 20px;
    }

    .class img{
        width: 290px;
        height: 200px;
    }

    .buy{
        width: 300px;
        height: 50px;
     }

     .btn_group>button,
     .btn_group>p{
        height: 50px;
        width: 50px;
     }

     .class_btn>a>p,
     .class_btn_top>p,
     .btn_group>p{
        padding: 0;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
     }

     .btn_group>p{
        padding: 0;
     }
     .buy P, 
     .decrease p,
     .increase p{
        font-size: 18px;
     }
    
 }