
body{
    background-image: url(../photos/index/white-diamond.png);
    background-attachment: fixed;
}

.class{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.title_block{
    /* border: 1px solid #000; */
    width: 547px;
    display: flex;
    justify-content: space-between;
    background-color: #FFCD84;
    border-radius: 20px;
    padding: 0 40px;
}

.title_block h3, .title_block p{
    /* border: 1px solid #000; */
    line-height: 70px;
}

.demonstrate{
    /* border: 1px solid #000; */
    padding-left: 20px;
}


ul.target, .class_right ul{
    letter-spacing: 2px;
    line-height: 40px;
    list-style: none;
    
}

ul.target>li, .class_right ul>li{
    text-indent: 2em;    
}


.target li::before, .class_right li::before{
    content: '';
    width: 30px;
    height: 30px;
    background-image: url(../photos/icon/list_style.png);
    background-repeat: no-repeat;
    background-position: center;
    display:inline-block; 
    margin-right:5px; 
    vertical-align:middle; 
    margin-top: -6px;
}

.class img{
    border-radius: 20px;
    background-position: center;
    background-size: contain;
}

.class_left{
    width: 550px;
}

.class_right{
    margin-left: 10px;
    width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.class_btn{
    display: flex;
    flex-wrap: wrap;
 }

 .decrease, .increase{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

.decrease>p, .increase>p{   
    font-size: 24px;
    line-height: 60px;
}

 button{
    background-color: #3C8D3C;
    color: #fff;
    font-size: 24px;
    border: none;
 }

.class_right_bottom{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

 .class_btn_top>p:first-child{
    /* border: 1px solid #000; */
    text-align: center;
    line-height: 60px;
    margin-right: 60px;
 }

.class_btn{
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
}
.class_btn_top{
    /* border: 1px solid #000; */
    display: flex;
    justify-content: flex-start;
}

.class_btn_top>p{
    font-size: 24px;
}


 .buy{
    border: 1px solid #3C8D3C;
    width: 600px;
    height: 60px;
    overflow: hidden;
    margin-top: 20px;
    position: relative;
    z-index: 1;
    transition: all .5s linear;
 }

 .buy>p{
    transition: .5s;
 }

 .buy::before{
    content:'';
    width: 0;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: .8s;
    z-index: -1;
 }

 .buy:hover::before{
    width: 100%;
 }

 .buy:hover>p{
    color: #3C8D3C;
    transition: .5s;
 }


 .btn_group{
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .btn_group>p{
    margin: 0 20px;
    font-size: 18px;
    padding: 0 30px;
    line-height: 60px;
    background-color: rgba(202, 219, 193, 0.5);
    /* border: 1px solid #000; */
 }