
body{
    background-image: url(../photos/index/white-diamond.png);
    background-attachment: fixed;
}
/* 頂部標題樣式 */
.label{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.label button{
    border: 1px solid #317331;
    font-size: 20px;
    width: 150px;
    line-height: 50px;
    text-align: center;
    color: #317331;
    border-radius: 10px;
    box-shadow: 5px 5px 6px rgba(200,200,200,0.5);
}

/* 被選擇時的按鈕樣式 */

.label_checked{
    border:  2px solid #317331 !important;
    font-weight: bold;
    font-size: 24px !important;
}

@media (max-width:768px){
    .label{
        width: 600px;
    }

    .label button{
        width: 100px;
        font-size: 18px;
    }

    .label_checked{
        font-size: 20px !important;
    }
}

@media (max-width:440px){
    .label{
        width: 400px;
    }

    .label button{
        width: 60px;
        font-size: 14px;
        height: 40px;
        line-height: 30px;
    }

    .label_checked{
        font-size: 16px !important;
    }
}


/* 主區域樣式 */
.introduce_main{
    width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(10, 100px);
    grid-template-rows: repeat(10,100px);
    isolation: isolate;
}

.title_block h3{
    width: 300px;
    font-size: 50px;
    font-family: 'marck script';
    text-align: center;
    color: #B8B8B8;
    position: absolute;
    letter-spacing: 2px;
    right: -120px;
    top: 10%;
    z-index: 2;
    mix-blend-mode: color-dodge;
}

.block_text{
    display: flex;
    flex-direction: column;
    width: 440px;
}

.pic_main{
    grid-area: 1/1/5/7;
}

.pic_main img{
    background-size: cover;
    background-position: center;
}

.introduce_main h2{
    width: 200px;
    text-align: center;
    margin: auto;
    text-align: center;
    line-height: 60px;
    grid-area: 1/8/3/11;
}

.pic_first{
    grid-area: 3/8/9/12;
    overflow: hidden;
}

.pic_second{
    grid-area:6/4/11/8;
    position: relative;
    overflow: hidden;
}

.text_outward{
    grid-area: 7/1/8/4;
}

.text_flower{
    grid-area: 9/8/8/11;
}

.introduce_main h2::after{
    content:"";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #317331;
}

img{
    vertical-align: middle;
    background-attachment: fixed;
}

p{
    text-align: justify;
}

.title_block{
    width: 700px;
    position: relative;
    grid-area: 1/1/7/7;
}

@media(max-width: 768px){
    .introduce_main{
        width: 600px;
        gap: 10px;
        grid-template-columns: repeat(10, 50px);
        grid-template-rows: repeat(10,50px);
    }

    .introduce_main h2{
        line-height: 40px;
    }

    .pic_main{
        grid-area: 1/1/5/7;
    }

    .pic_main>img{
        width: 320px;
        height: 230px;
    }

    .title_block h3{
        font-size: 36px;
        top: 80px;
        right: 240px;
    }

    .introduce_main h2{
        width: 100px;
        grid-area: 1/8/3/11;
    }

    .pic_first img,
    .pic_second img{
        width: 200px;
        height: 300px;
    }
    
    .pic_second{
        grid-area:6/4/11/8;
        position: relative;
        overflow: hidden;
    } 
    .title_block{
        width: 600px;
    }
}

@media(max-width: 440px){
    .introduce_main{
        width: 400px;
        display: flex;
        flex-wrap: wrap;
    }

    .introduce_main>h2{
        width: 100%;
        border: none;
        margin-bottom: 30px;
    }

    .introduce_main>h2::after{
        content:"";
        display: block;
        height: 3px;
        width: 100%;
        transform: scale(0.25);
        background-color: #317331;
    }

    .text_flower,
    .text_outward{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin: 0;
    }

    .pic_second>img,
    .pic_first>img{
        width: 190px;
        height: 270px;
    }


    .title_block{
        width: 100%;
    }

    .title_block>h3{
        text-align: center;
        right: -10px;
        width: 200px;
    }

}

/* 底部區域 */

.bottom_text::after{
    content:"";
    width: 175px;
    height: 95px;
    display: block;
    background: url(../photos/flower_introduce/flower_introduce_bottom_tree.png) no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    right: 20px;
    bottom: 40px;
    z-index: -1;
}
.bottom_text{
    width: 1200px;
    display: flex;
    margin: 50px 0 100px 0;
    align-self: center;
    flex-wrap: wrap;
    position: relative;
}

.bottom_text p{
    margin-top: 30px;
    flex-grow: 1;
}

.bottom_link{
    border: 1px solid #317331;
    padding: 5px 20px;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

.bottom_link a{
    color: #317331;
    font-size: 18px;
    line-height: 21px;
}

@media (max-width: 768px){
    .bottom_text{
        width: 600px;
        margin-top: 120px;
    }
    .bottom_text h4{
        margin-top: 20px;
        width: 100%;
    }
}

@media (max-width: 440px){
    .bottom_text{
        width: 400px;
        font-size: 14px;
        margin-top: 50px;
        justify-content: flex-end;
        height: 150px;
    }

    .bottom_text>h4,
    .bottom_text>p{
        margin: 0;
    }

}