a{
    text-decoration: none;
    color: #000;
}

h4{
    font-weight: bold;
}

main{
    display: flex;
    flex-direction: column;
    
}

h2{
    text-align: center;
    margin: 20px 0;
}

body{
    position: relative;
}
/* 側邊標題區塊 */

.container{
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    width: 1400px;
    padding-bottom: 100px;
}

.menu{
    position: relative;
    top: 0;
    bottom: 0;
}

.menu_title{
    width: 200px;
    margin: auto;
    margin-right: 40px;
    border-radius: 20px;
    padding: 20px;
    position: sticky;
    top: 100px;
}
.menu a::after{
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    background-color: #4FAE4F;
    transition: 0.5s;
}

.menu a:hover::after{
    width: 80%;
    transition: 0.5s;
}


/* 主要內容區塊 */

.main_block{
    /* border: 1px solid #000; */
    width: 1050px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: space-between;
    position: relative;
    margin-bottom: 40px;
}



.main_block:nth-child(even){
    flex-direction: row;
    position: relative;
    padding-top: 20px;
}

/* 主要內容照片設定 */
.main_block>.main_block_img{
    align-self: flex-start;
    position: relative;
    top: 172px;
}


.main_block_img img:first-child{
    width: 400px;
    height: 320px;
    vertical-align: middle;
    border-radius: 50% 45% 58% 42%/39% 38% 52% 60%;
    transition: 0.5s
}


.main_block_img img:first-child{
    animation: img 4s 0s ease-in infinite alternate; 
}

.text_block{
    margin: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@keyframes img{
    25%{
        border-radius: 50% 50% 72% 28%/47% 48% 52% 53%;
    }
    50%{
        border-radius: 50% 50% 46% 54%/53% 48% 52% 47%;
    }
    100%{
        border-radius: 50% 50% 33% 67%/65% 56% 44% 35%;
    }
}
/* 文字區塊間距及裝飾框線 */
.text_block h2{
    margin: 40px auto 20px auto;
    width: 250px;
    text-align: center;
}

.text_block h2::after{
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #4FAE4F;
}

.text_block h3{
    margin: 40px 0 20px 0;
}


/* 區塊背景設定 */

.container{
    width: 100%;
    background: linear-gradient(
        #fff 0%,
        #fff 23%,
        #E7F1DC 23%,
        #E7F1DC 63%,
        #fff 63%,
        #fff 100%
    );
}

.main_block:nth-child(even)>img{
    width: 200px;
    position: absolute;
}

.main_block:nth-child(even)>img:first-child{
    top: -40px;
    right: 0px;
 
}

.main_block:nth-child(even)>img:nth-child(2){
    bottom: -100px;

}
