
body{
    background-image: url(../photos/index/white-diamond.png);
    background-attachment: fixed;
}


/* banner */
.banner{
    width: 1200px;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    z-index: 2;
}

.banner_container{
    height: 600px;
    width: 1100px;
    margin: auto;
    border-radius: 490px 343px 539px 392px/240px 300px 240px 360px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.banner_sun{
    width: 140px;
    height: 140px;
    position: absolute;
    top: 120px;
    left:70px;
}
.banner_sun>div:first-child{     
    background-image: url(../photos/index/index_banner_4-2.png);
    background-position: center;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    animation: banner1 30s 0s linear infinite;
    transform-origin: center;
    translate: 0px 0px;
}

.banner_sun>div:last-child{ 
    background-image: url(../photos/index/index_banner_4-1.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 95px;
    height: 95px;
    position: absolute;
    top: 22px;
    right: 22px;
}
.banner>img:nth-child(1){
    position: absolute;
    bottom: -120px;
    right: 120px;
}
.banner>img:nth-child(2){
    position: absolute;
    top: 0;
    right: 100px;
    z-index: 10;
}

.banner>img:nth-child(3){
    position: absolute;
    top: 30px;
    right: 240px;
    z-index: 10;
}


@keyframes banner1{
    0%{
    transform: rotate(0deg);
    translate: 0px 0px;
    }
    100%{
        transform: rotate(360deg);
        translate: 0px 0px;
    }
}

.banner_text{
    font-size: 28px;
    margin: auto;
    margin-left: 5%;
    display: flex;
    position: absolute;
}

.banner_text p{
    font-size: 32px;
    width: 300px;
    padding-bottom: 5px;
    color: #fff;
}

.banner_text p::after{
    content:"";
    display: block;
    height: 3px;
    background-color: #3A8816;
    opacity: 0;
    animation: banner_text_border 1s 0.5s linear forwards;
}

.banner_text span{
    /* color: rgb(48, 92, 78); */
    font-size: 40px;
    position: relative;
    /* bottom: -50px; */
    opacity: 0;
    animation: banner_title 1s 1.5s linear forwards; 
}

@keyframes banner_text_border{
    0%{
        width: 0%;
        opacity: 0;
    }
    100%{
        width: 100%;
        opacity: 1;
    }
}

@keyframes banner_title{
    0%{
        opacity: 0;
        bottom: 0px;
    }
    100%{
        opacity: 1;
        bottom: -50px;
    }
}


/* 關於我們圖片 */
.aboutus{
    width: 1200px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.aboutus_pic{
    width: 800px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.aboutus_pic>div{
    overflow: hidden;
}

.aboutus_pic img{
    transition: 1s;
    vertical-align: middle;
}

.aboutus_pic img:hover{
    transform: scale(1.1);
}



/* 關於我們 文字 */
.aboutus p{
    width: 320px;
    text-align: justify;
}

.aboutus h3{
    width: 500px;
    font-size: 50px;
    font-family: 'marck script';
    text-align: center;
    color: #B8B8B8;
    position: absolute;
    top: -120px;
    left: -250px;
    letter-spacing: 2px;
    z-index: -1;
}

.aboutus_text{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;    
    position: relative;
    justify-content: center;
}

.aboutus_text>div{
    display: flex;
    justify-content: center;
}

.aboutus_block{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

/* 商品種類 */
.producttype{
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.producttype_main{
    position: relative;
    /* 次標題絕對定位 */
    z-index: 1;
    /* z-index設1, 以免擋到a標籤 */

}

.producttype_block{
    width: 1200px;
    margin-top: 20px;
    display: flex; 
    justify-content: space-between;
}

.producttype_block:nth-child(2){
    flex-direction: row-reverse;
}

.producttype_main img{
    width: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.producttype_title{
    width: 150px;
    height: 60px;
    background-color: #E7F1DC;
    position: absolute;
    right: -20px;
    top: 20px;
    z-index: 3;
}

.producttype_title::after{
    content:"";
    width: 20px;
    height: 15px;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    background-color: #808B75;
    position: absolute;
    right: 0px;
    top: 60px;
}

.producttype_block:nth-child(2) .producttype_title{
    width: 150px;
    height: 60px;
    background-color: #E7F1DC;
    position: absolute;
    left: -20px;
    top: 20px;
    z-index: 3;
}

.producttype_block:nth-child(2) .producttype_title::after{
    content:"";
    width: 20px;
    height: 15px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    background-color: #808B75;
    position: absolute;
    left: 0px;
    top: 60px;
}

.producttype_title>h3{
    text-align: center;
    line-height: 60px;
}

.producttype_smallpic{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.producttype_smallpic p{
    width: 100%;
    padding: 40px 60px;
    align-self: center;
    text-align: justify;

}

.producttype_smallpic>div{
    width: 700px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    overflow: hidden;
}

.producttype_block .producttype_smallpic>div>div{
    overflow: hidden;
    margin-left: 10px;
}

.producttype_block:nth-child(2) .producttype_smallpic>div{
    margin-right: 10px;
}

.producttype_smallpic>div img{
    width: 350px;
    height: 240px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.producttype_block:nth-child(2) .producttype_smallpic img{
    padding-left: 0;
    padding-right: 10px;
}

.producttype_text{
    /* border: 1px solid red; */
    width: 600px;
    margin: auto 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.producttype>div:first-child{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.producttype_smallpic img:not(.producttype_mainpic):hover{
    transform: scale(1.1);
    transition: 1s;
}

.producttype img{
    transition: 1s;
}

/* hover區塊設定 */
.producttype_mainpic_container{
    position: relative;
    z-index: -1;

}
.producttype_hover{
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    transform: scale(0);
    overflow: hidden;
    /* background-color: rgba(51, 110, 51, 0.4); */
    background-color: rgba(0,0,0,.3);
    backdrop-filter: blur(10px);
    /* 在區塊背景加入特效 */
    position: absolute;
    top: 0;
    left: 0;
    transition: .8s;
    display: flex;
    align-items: center;
    color: #fff;
    z-index: 2;
}

.producttype_hover p{
    text-align: center;
    width: 100%;
    font-size: 32px;
    font-weight: bold;
}


.producttype_main:hover .producttype_hover{
    transform: scale(.999);
}




/* 活動消息區塊 */

.news_bg{
    width: 100%;
    margin: auto;
    margin-top: 60px;
    background: linear-gradient(
        #fff0 0%,
        #fff0 40%,
        #E7F1DC 40%,
        #E7F1DC 100%
    );
    display: flex;
    justify-content: center;
}
.news{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.news>div:first-child{
    width: 330px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.news_main{
    width: 1200px;
    display:flex;
    justify-content: space-between;
    margin-top: 20px;
}

.news_block{
    display: flex;
    flex-direction: column;

}

.news_block img{
    margin: 0 auto;
    width: 380px;
    height: 300px;
    background-size: cover;
    overflow: hidden;
    border-radius: 20px;
}

.news_block h3{
    width: 400px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.news_block p{
    width: 350px;
    text-align:justify;
}

.news_text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 各區塊h2標題樣式 */
h2{
    text-align: center;
    line-height: 60px;
}

.aboutus_text h2:nth-child(2),
.producttype h2:nth-child(2),
.news h2:nth-child(2){
    font-size: 20px;
    text-align: center;
}



.aboutus_text>div,
.producttype>div:first-child,
.news>div:first-child{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
}

.aboutus_text>div>h2:first-child::after,
.producttype>div>h2:first-child::after,
.news>div:first-child>h2:first-child::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #3C8D3C;
}

.producttype>div:first-child>h2{
    width: 350px;
}