
body{
   background-image: url(../photos/index/white-diamond.png);
   background-attachment: fixed;
}

.item {
    width: 1200px;
    margin: auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

}
.item_pic{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#item_mainImg{
   width: 400px;
   height: 360px;
}
.item_smallpic{ 
   width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.smallpic_block{
   width: 380px;
   display: flex;
   overflow: hidden;
}

.smallpic_block>ul{
   position: relative;
   display: flex;
}

.smallpic_block>ul>li{
   float: left;
}

.smallpic_block>ul>li>img{
    width: 120px;
    height:100px;
    border: 2px solid #000;
    border-radius: 10px;
}

.smallpic_block>ul>li+li>img{
   margin-left: 10px;
}

.item_smallpic>button>img{
   width: 40px;
   height: 40px;
}

.item_smallpic>button{
   height: 100%;
   flex-grow: 2;
}

@media (max-width: 768px){
   .item{
      width: 600px;
      flex-wrap: wrap;
      flex-direction: row-reverse;
   }

   .item_pic{
      width: 100%;
   }
}

@media (max-width: 440px){
   .item{
      width: 400px;
   }

   .item_smallpic>button>img{
      width: 30px;
      height: 30px;
   }

   .smallpic_block{
      width: 320px;
   }

   .smallpic_block>ul>li>img{
      width: 100px;
      height:80px;
  }
}


/* 箭頭icon */
.item_smallpic>img,
.otheritem>ul>img{
   width: 30px;
   height: 30px;
}

/* 內容區塊 */

 .item_content{
   width: 650px;
   margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

 .item_content_text>h2{
    width: 100%;
    background-color: #FFCD84;
    text-align: center;
    line-height: 60px;
    border-radius: 20px;
 }

 .item_content_text>p{
   width: 100%;
   font-size: 24px;
   padding-left: 15px;
   padding-top: 15px;
 }

 button.buy{
    background-color: #3C8D3C;
    color: #fff;
    font-size: 24px;
    border: none;
 }

 .item_btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .item_btn_block{
   display: flex;
   align-items: center;
   justify-content: center;

 }

 .decrease>img, .increase>img{
    width: 60px;
    height: 60px;
 }

 .item_btn_block>input{
   text-align: center;
   border: none;
   height: 60px;
   width: 60px;
   margin: 0 10px;
   font-size: 24px;
 }

 .buy, .addtocart{
   height: 65px;
   padding: 0 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

 .buy{
   width: 170px;

 }

 .addtocart p{
   line-height: 65px;
 }

 .addtocart{
   border: 3px solid #3C8D3C;
   background-color: #fff;
   color: #3C8D3C;
   width: 200px;
 }

 .buy>img,
 .addtocart>img{
   vertical-align: bottom;
 }

 .item_btn>div:last-child{
   width: 380px;
   display: flex;
   justify-content: space-between;
 }

 @media (max-width: 768px){
   .item_content{
      width: 100%;
   }
   .item_content_text>h2{
      font-size: 28px;
      margin-top: 30px;
   }

   .item_content_text>p{
      font-size: 20px;
    }
  
   .item_btn_block>input{
     font-size: 20px;
   }
  
   .buy, .addtocart{
     font-size: 20px;
   }
   
   .item_btn{
      width: 100%;
      margin-top: 30px;
      flex-wrap: nowrap;
      justify-content: space-between;
   }

   .item_btn>div:last-child{
      justify-content: flex-end;
   }

   .item_btn p {
      font-size: 20px;
   }

   .buy, .addtocart{
      width: 170px;
      height: 60px;
   }

   .buy{
      width: 150px;
   }

   .addtocart{
      margin-left: 15px;
   }

   .increase>img,
   .decrease>img{
      width: 40px;
      height: 40px;
   }
 }

 @media (max-width: 440px){
   .item_content_text>h2{
      font-size: 24px;
   }
   .item_btn{
      flex-direction: column;
      height: 150px;
      align-items: center;
      justify-content: space-between;
   }

   .item_btn>div:last-child{
      justify-content: space-between;
   }

   .increase>img,
   .decrease>img{
      width: 30px;
      height: 30px;
   }
 }


 /* 備註區塊 */

 .shoppingguide{
   width: 1200px;
   margin-top: 60px;
    border-top: 3px solid #3C8D3C;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }


 .shoppingguide ul{
    font-family: 'Klee One';
    margin-top: 30px;
    list-style: none;
    letter-spacing: 1px;
 }

 .shoppingguide li{
    line-height: 40px;
    list-style-position:initial
 }

 .shoppingguide li:before{ 
   content:''; 
   width:30px; 
   height:30px; 
   border-radius:50%; 
   background-image: url(../photos/icon/list_style.png);
   background-repeat: no-repeat;
   background-position: center;
   display:inline-block; 
   margin-right:5px; 
   vertical-align:middle; 
   margin-top:-3px;
}

@media (max-width: 768px){
   .shoppingguide, .otheritem{
      width: 600px;
   }

   .shoppingguide ul{
      margin-top: 30px;
   }

   .shoppingguide li{
      text-indent: -2em;
    }

    h3{
      font-size: 24px;
    }

    .otheritem{
      overflow: hidden;
    }
}

@media (max-width: 440px){
   .shoppingguide, .otheritem{
      width: 400px;
   }

}

/* 相似產品 */
.otheritem{
   width: 1200px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.otheritem>img{
   width: 40px;
   height: 40px;
}
main>h3{
   width: 1200px;
   text-align: left;
   margin-top: 60px;
   border-top: 3px solid #3C8D3C;
   padding-top: 20px;
}

.otheritem_block{
   width: 858px;
   overflow: hidden;
}
.otheritem_block>ul{
   display: flex;
   align-content: start;
   margin-top: 60px;
   position: relative;
}

.otheritem_block>ul>li{
   float: left;
}

.otheritem h4,.otheritem p{
   text-align: center;
}

.otheritem h4{
   font-size: 24px;
   font-weight: bold;
}

.otheritem img{
   margin: 0 10px;
   border-radius: 20px;
}

@media(max-width: 768px){
   .otheritem{
      width: 600px;
   }
   main>h3{
      width: 600px;
   }

   .otheritem h4,.otheritem p{
      font-size: 18px;
      letter-spacing: 0;
   }

   .otheritem_block{
      width: 500px;
   }

   .otheritem_block img{
      width: 142px;
      height: 142px;
   }


   .otheritem>button>img{
      width: 30px;
      height: 30px;
   }
}
@media(max-width: 440px){
   .otheritem{
      width: 400px;
   }
   main>h3{
      width: 400px;  
   }

   .otheritem_block{
      width: 300px;
   }

   .otheritem_block img{
      width: 80px;
      height: 80px;
   }

   .otheritem h4,.otheritem p{
      font-size: 12px;
   }

   .otheritem_block img{
      width: 75px;
      height: 75px;
   }


   .otheritem img{
      margin: 0 10px;
   }
}