
body{
   background-image: url(../photos/index/white-diamond.png);
   background-attachment: fixed;
}

.item {
    width: 1400px;
    margin: auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

}
.item_pic{
    width: 700px;
    height: 570px;
    display: flex;
    flex-direction: column;
}
.item_mainpic{
    width: 670px;
    height: 360px;
    display: flex;
    justify-content: center;
}

.item_smallpic{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.item_smallpic img{
    width: 170px;
    height:150px;
}


/* 箭頭icon */
.item_smallpic img:first-child,
.item_smallpic img:last-child,
.otheritem>ul>img{
   width: 30px;
   height: 30px;
}

 .item_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

 .item_content_text>h3{
    width: 650px;
    background-color: #FFCD84;
    text-align: center;
    line-height: 60px;
    border-radius: 20px;
 }

 .item_content_text>p{
   width: 650px;
   font-size: 24px;
   padding-left: 30px;
   padding-top: 30px;
 }

 button{
    background-color: #4FAE4F;
    color: #fff;
    font-size: 24px;
    border: none;
 }

 .item_btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .item_btn>div:last-child{
   width: 380px;
   display: flex;
   justify-content: space-between;
 }

 .item_btn>div:last-child>button{
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .item_btn>div:last-child>button>img{
   padding-right: 10px;
 }

 .item_btn_block{
   display: flex;
   align-items: center;
   justify-content: center;

 }

 .decrease, .increase{
    width: 60px;
    height: 60px;
    border-radius: 10px;
 }

 .item_btn_block>p{
   /* border: 1px solid #000; */
   line-height: 60px;
   padding: 0 30px;
   margin: 0 20px;
   background-color: rgba(202, 219, 193, 0.5);
 }
 
 .addtocart{
    height: 65px;
    padding: 0 10px;
 }

 .buy{
   height: 65px;
   padding: 0 20px;
 }

 .addtocart{
   border: 3px solid #4FAE4F;
   background-color: #fff;
   color: #4FAE4F;
 }

 /* 備註區塊 */

 .shoppingguide, .otheritem{
   width: 1400px;
    margin: 60px auto;
    border-top: 3px solid #4FAE4F;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }


 .shoppingguide ul{
    font-family: 'Klee One';
    margin-top: 50px;
    list-style: none;
    letter-spacing: 1px;
 }

 .shoppingguide li{
   text-indent: 10em;
    line-height: 40px;
    list-style-position:initial
 }

 .shoppingguide li:before{ 
   content:''; 
   width:30px; 
   height:30px; 
   border-radius:50%; 
   background-image: url(../photos/icon/list_style.png);
   background-repeat: no-repeat;
   background-position: center;
   display:inline-block; 
   margin-right:5px; 
   vertical-align:middle; 
   margin-top:-3px;
}

/* 相似產品 */
.otheritem>ul{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   margin-top: 60px;
}

.otheritem h3, .otheritem p{
   text-align: center;
}
