*{
    box-sizing: border-box;
    margin: 0;    
}

html,body{
    scroll-behavior: smooth;
}

h1,h2,h3,h4,p,ul,li:not(.footer p,ul,li), button, a{
    font-family: 'Klee One';
}

h1, h2{
    font-size: 32px;
    letter-spacing: 8px;
    line-height: 60px;
}

h2{
    font-size: 28px;
}

h3{
    font-size: 24px;
    letter-spacing: 8px;
    line-height: 40px;
}

h4{
    font-size: 18px;
    font-weight: normal;
    line-height: 40px;
}



p, ul, li:not(.footer p,ul,li), button{
    line-height: 40px;
    font-size: 18px;
    letter-spacing: 2px;
}

ul{
list-style: none;
padding: 0;
margin: 0;
}

a{
text-decoration: none;
color: #000;
}
button{
    font-size: 24px;
    border: none;
    border-radius: 10px;
}

header{
    width: 100%;
}
main{
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    vertical-align: middle;
}


/* 導覽列 */

nav{
    width: 100%;
    background-color: rgba(255,255,255,.6); 
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 3;
}
.mynav img:first-child{
    padding: 5px;
}
.mynav{
    width: 1400px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    z-index: 2;
}

.mynav>ul{
    display: flex;
    width: 650px;
    justify-content: space-between;
}

.mynav_list::after{
    content:"";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #4FAE4F;
    transition: 0.3s;
    transform: scaleX(0)
}

.mynav_list:not(.mynav_list:first-child):hover::after{
    transition: 0.3s;
    transform: scaleX(1)
    
}

.mynav_icon{
    width: 150px;
    display: flex;
    justify-content: space-between;

}

.mynav_icon img{
    width: 35px;
    height: 35px;
}

.mynav_list a{
    color:#000;
    font-size: 24px;
    display: block;
    /* background-color: #000; */
}

.mynav_list{
    text-align: center;
}

.logo{
    /* border-bottom: 1px solid #b8b4b4; */
    display: flex;
    align-items: center;
}


/* 導覽列_下拉選單 */
.item_drop{
    padding: 0 auto;
    background-color: rgba(255,255,255,.7); 
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    border-radius: 10px;
    max-height: 0;
    opacity: 0;
    z-index: 99; 
    /* 以免被其他區塊遮到 */
}

.item_drop li{
    padding: 10px;
    width: 100px;
    text-align: center;
}

.mynav_list:first-child:hover .item_drop{
    max-height: 100vh;
    opacity: 1;
    transition: 1s;
}



/* footer */
.footer{
    background-color: #4FAE4F;
    padding: 40px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 900px 900px 0% 0%/140px 140px 0% 0%;
    
}


.footer_title{
    width: 30.3333%;
    border-right: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_main{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    
}

.footer_followus{
    border-left: 2px solid #fff;
    padding-left: 40px;
    display: flex;
    flex-direction: row-reverse;
    width: 30.333333%;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
}

.footer_contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_icon{
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.footer p, .footer_followus a, .footer h4{
    color: #fff;
    font-family: '微軟正黑體';
    line-height: 40px;
    text-align: left;
}

.footer_copyright{
    margin-top: 20px;
    width: 100%;
}
.footer_copyright p{
    text-align: center;
}

.footer_title h4{
    font-size: 28px;
    text-align: center;
    width: 280px;
    line-height: 40px;
}


